---
layout: default
---

<div class="home">

  
<div class="container">
    <div class="row">
  

      <div class="card-columns">
        {% for post in paginator.posts %}
        
          

              <h5 class="card-title"><a class="text-black" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h5>

                 

                   
                   {{ post.excerpt }}
                   <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-danger text-white" role="button">Read More</a>
                 

          
          
            {% endfor %}
          </div>
        
     </div></div>
<nav aria-label="Page navigation">
{% if paginator.total_pages > 1 %}
  <ul class="pagination">
{% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" tabindex="-1">&laquo; Previous</a>
    </li>
{% else %}
<li class="page-item disabled">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" tabindex="-1">&laquo; Previous</a>
    </li>
{% endif %}

   {% if paginator.next_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% else %}
    <li class="page-item disabled"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% endif %}
  </ul>
{% endif %}
</nav> 
     
    </div>
